@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF;
  --off-white: #FAFAFA;
  --stroke: rgba(0, 0, 0, 0.10);
  --black: #000000;
  --green: #00703A;

  --foreground-color: var(--black);
  --background-color: var(--off-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: var(--white);
    --background-color: var(--black);
  }
}

body {
  color: var(--foreground-color);
  background: var(--background-color);

  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.03125rem;

  /* TODO: download and use SF-Pro
   https://developer.apple.com/fonts/
   Comes as a dmg.*/
}

h1 {
  font-weight: regular;
  font-size: 24px;
  line-height: 125%;
  letter-spacing: -0.03125rem;
}

.title {
  font-weight: regular;
  font-size: 14px;
  line-height: 125%;
  letter-spacing: -0.03125rem;
}

.subtitle {
  font-weight: regular;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: -0.03125rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
